/* body {
  font-family: "Lexend Mega", sans-serif;
  text-align: right;
} */

div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #ccc;
  background: #333;
  padding: 8px;
}
