@{
    Layout = "_Layout";
}

@using PierresTreats.Models;
@using System.Security.Claims
@model IEnumerable<PierresTreats.Models.Flavor>

<h1>Flavor</h1>
<h1>Here is your lists of flavors, @User.Identity.Name</h1>

@if (Model.Any())
{
    @foreach (Flavor flavor in Model)
    {
        <li>@Html.ActionLink($"{flavor.Name}", "Details", new { id = flavor.FlavorId})</li>
    }
}
    <h3>No flavors have been added yet!</h3>


<p>@Html.ActionLink("Add new flavor", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>

